.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h3 Show Record
.modal-body
  
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '6'} Personal Information
    %tbody
      %tr
        %td Full Name: 
        %td{:colspan=> '5'} Michael Jhon Raagas
      %tr
        %td Address: 
        %td{:colspan=> '5'} #88 1st St. Area5 Veterans Village, Pasong Tamo, Quezon City
      %tr
        %td Mother's Name: 
        %td Ma. Elena Raagas
        %td Occupation:
        %td House Wife
        %td Age: 
        %td 52
      %tr
        %td Fathers's Name: 
        %td Nestor Raagas
        %td Occupation:
        %td Driver
        %td Age: 
        %td 53 
      %tr
        %td Birthdate: 
        %td{:colspan=> '5'} June 20, 1990
      %tr
        %td Age:
        %td{:colspan=> '5'} 22
      %tr
        %td Contact No: 
        %td{:colspan=> '5'} 0909448532

    %table.show-details.table.table-bordered
      %thead   
        %tr
          %th{:colspan => "4"} Birth History and Development
      %tbody    
        %tr
          %td Term:
          %td asdfasdf
          %td Head Circ
          %td asdasd
        %tr
          %td Delivery
          %td ashgasdf
          %td Chest Circ
          %td adsfg a
        %tr
          %td Birth Weight
          %td asrhf gjk
          %td Abdominal
          %td gjkhj
        %tr
          %td Birth Length
          %td gfkfgh 
          %td Obstetrician
          %td gfhjetgh
        %tr
          %td.allergy{:colspan => "4"}
            %label Allergy
        %tr
          %td Food
          %td{:colspan => "3"}
        %tr
          %td Medicine
          %td{:colspan => "3"}
        %tr
          %td Others
          %td{:colspan => "3"}
        %tr 
          %th{:colspan => "4"} Feeding History and Immunization
        %tr
          %td{:colspan => "3"} Type of Feeding
          %td
        %tr
          %td{:colspan => "3"} Supplementary
          %td
      
  %table.show-details.table.table-bordered
    %thead
      %tr
        %th{:colspan=> '2'} Examination
    %tbody
      %tr
        %td Examination Date: 
        %td January 1, 2012
      %tr
        %td Weight:
        %td
      %tr
        %td Height: 
        %td
      %tr
        %td History and Physical Examination:
        %td Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      %tr
        %td Physician's Instructions
        %td
      %tr
        %td Created At:
        %td
      %tr
        %td Updated At:
        %td


.modal-footer
  %a.btn{"data-dismiss" => "modal", :href => "#"} Close