<h3> Options </h3>
	<ul>
		<li><%=  link_to_unless_current('List of Schedules', {:action => 'index'}){|link|content_tag 'a', link, :class => 'active-tab'} %></li>
		<li><%=  link_to_unless_current('Add Schedule', {:action => 'new'}){|link|content_tag 'a', link, :class => 'active-tab'} %></li>
	</ul>