<% @page_title = "Edit Schedule" %>

	<div class="side-menu grid_5">
		<div class="side-menu-option">
			<%= render(:partial => 'sidenav') %>
		</div> <!-- end of side-menu-option -->
	</div> <!-- end of side-menu -->
	<div class="side-content grid_19">
		<div class="content-module">
			<div class="content-module-heading cf">
				<h3> EDIT SCHEDULE DETAILS </h3>
			</div> <!-- end of content-module-heading -->

			<div class="content-module-main">
	
				<%= form_for(:schedule, :url => {:action => 'update', :id => @schedule.id}) do |f| %>

					<%= render(:partial => "form", :locals => {:f => f}) %>
					
					<%= submit_tag("SET SCHEDULE", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
				</div> <!-- end of personal-information -->
				<% end %>

				</div> <!-- end of content-module-main -->

			</div> <!-- end of content-module -->

	</div> <!-- end of page full width -->



