<% @page_title = "Edit Immunization" %>
<div class="side-menu grid_5">
		<div class="side-menu-option">
			<h3> Options </h3>
			<ul>
				<li><%= link_to("Back to Pediatrics List", {:action => 'list', :id => @immunization.id, :pediatric_id => @pediatric.id}) %></li>
			</ul>
		</div> <!-- end of side-menu-option -->
		<div class="side-menu-calendar">
			<a href="#"><img src="../assets/calendar.png" alt="calendar"></a>
		</div>
	</div> <!-- end of side-menu --> 
<div class="side-content grid_19">
<div class="content-module">
		<div class="content-module-heading cf">
		<h3>Patient's Form</h3>
	</div> <!-- end of side-content-heading -->
	<div class="content-module-main cf">
	<div class="sub-heading">
		<h4>Edit Immunization</h4>
	</div>
	<div class="birthHistory-andDevelopment">
	<%= form_for(:immunization, :url => {:action => 'update', :id => @immunization.id, :pediatric_id => @pediatric.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

	<%= submit_tag("SUBMIT", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
	<% end -%>
			</div> <!-- end of content-module-main -->
		</div> <!-- end of content-module -->
	</div> <!-- end of side-content -->
