<div class="modal hide fade in" id="user-edit">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">x</button>
		<h2>Edit User</h2>
	</div>
<% @page_title = "Edit Ortho Details" %>
	<div class="form">
		<%= form_for(:orthodontic, :url => {:action => 'update', :id => @orthodontic.id}) do |f| %>
		
			<%= render(:partial => "form", :locals => {:f => f}) %>

			<%= submit_tag("SUBMIT", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
			</div>
		<% end %>
	</div> <!-- end of form -->

    <div class="modal-footer">
      	<a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

