<% @page_title = "Create New Ortho" %>
<div class="side-menu grid_5">
	<div class="side-menu-option">
		<%= render(:partial => 'sidenav') %>
	</div> <!-- end of side-menu-option -->
</div> <!-- end of side-menu -->
<div class="side-content grid_19">
	<div class="content-module grid_19">
		<div class="content-module-heading cf">
			<h3> Patient's Form </h3>
		</div> <!-- end of content-module-heading -->
			<div class="content-module-main">
				<div id="OrthoNew">
					<%= form_for(:ortho, :url => {:action => 'create'}) do |f| %>
					
						<%= render(:partial => "form", :locals => {:f => f}) %>

						<%= submit_tag("SUBMIT", {:class => 'button round blue text-upper image-right ic-right-arrow'}) %>
				</div>
					<% end %>
			</div> <!-- end of form -->
		</div> <!-- end of content-module-main -->
	</div> <!-- end of content-module -->
</div> <!-- end of side-content -->

