- if @immunization.errors.any?
  $("#flash_notice").hide(300);
  $("#post_errors").html("#{escape_javascript(error_messages_for(@immunization))}");
  $("#post_errors").show(300);
- else
  $("#post_errors").hide(300);
  $("#flash_notice").html("#{escape_javascript raw(flash_display)}");
  $("#flash_notice").show();
  $(":input:not(input[type=submit])").val("");
  $("#ImmuneEditRecord").modal("hide");
  $("#posts_list").html("#{escape_javascript( render(:partial => 'list'))}");