#footer
  .container
    %center
      %p.muted.credit
        \&copy; Copyright 2013
        %a{:href => "#"} St. Lukes Medical Center
        All Rights Reserved.
        %br
          Admin page by thesis group -
          %a{:href => "#"} Boys over Flowers